body {
    padding: 10px;
}

.row {
    padding: 10px;
    margin: 10px;
}

.listing_image {
    height: 25vh;
    margin: 10px;
    padding: 10px;
}


.text{
    color: black;
}

.price{
    color: maroon;
    font-weight: bold;
}

.newlisting label{
    margin: 25px;
}

.category {
    width: 25%;
  }
