{% extends "auctions/layout.html" %}

{% block body %}

<div class="container">
    <br><br>
    <h2 class="text-center">Categories:</h2>
    <br>
    <div class="row row-cols-5 justify-content-center">
        {% for category in categories %}
            <div class="col mx-3 alert alert-info">
                <a class="alert-link"  href="{% url 'category' category.category %}">{{ category.category }}</a>
            </div>
        {% endfor %}
    </div>
    <br>
    <br>
    {% if user.is_authenticated %}
    <div class="row row-cols-4 justify-content-center">
        <form action="" method="post" >
            <div>
                <label for="">Add New </label>
                {% csrf_token %}
                {{ form }}
            </div>  
            <br>
                <input class="btn btn-primary" type="submit" value="Submit">

            
        </form> 

    </div>
    {% endif %}
</div>
{% endblock %}