{% extends "auctions/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        {% if listing.seller == user %}
            <div class="container-fluid">
                <form action="{% url 'edit_listing' listing_id %}" method="POST">
                    {% csrf_token %}
                    <table class="table" >
                        <thead>
                            <tr><h2 class="text-center">Edit Listing</h2>
                            </tr>
                        </thead>
                        <tbody>
                    
                            {{ form.as_table }}
                        
                        </tbody>
                    </table>
                    <button name="save" class="btn btn-primary">Submit</button>
                </form>
            </div>
        {% else %}
            Access Denied
        {% endif %}
    {% else %}   
        Sign in to edit listing
    {% endif %}

    

{% endblock %}