{% extends "auctions/layout.html" %}

{% block body %}


<div class="container col border">
    <h2 class="text-center">Watchlist</h2>
    <hr>
    <div class="container-fluid">
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1 justify-content-center">
            {% for listing in watchlist %}
                
                    <a class="col m-4" href="{% url 'listing' listing.title %}"> 
                        <div> 
                            <img class="listing_image" src="{{ listing.image_url }}" alt=""> 
                        </div>
                        <div class="text" >
                            <ul class="price"> Price: ${{ listing.price }}</ul>
                            <li> {{ listing.title }}</li>
                            <li> Status: {{ listing.status }}</li>
                        </div>  
                        <form action="{% url 'edit_watchlist' listing.title %}" method="post">
                            {% csrf_token %}     
                                <button class="btn btn-outline-danger" name="watchlist">Remove from Watchlist</button>
                        </form>
                    </a>
            {% empty %}
                    <p class="text-center">No Listings posted</p>   
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}